<p class="lead">Here's what people think of you</p>
<ul class="spotless">
<% receivedFeedbacks.each(function (feedback) { %>
  <li class="well lead">
    <a href="<%= '#/messages/' + feedback.id %>">
      <%= feedback.escape('body') %>
    </a>
  </li>
<% }); %>
</ul>