<p class="lead titled">Here's what people think of you</p>
<ul class="spotless">
<% _(receivedFeedbacks).each(function (feedback) { %>
  <li class="well lead">
    <p>
      <%= feedback.escape('body') %>
    </p>
  </li>
<% }); %>
</ul>