<p class="lead titled">Unprompted personal attacks. Go you!</p>
<ul class="spotless">
<% _(sentUnsolicitedFeedbacks).each(function (feedback) { %>
  <li class="well lead">
    <p>
      <%= feedback.escape('body') %>
    </p>
    <p>
      <small>
        sent to <%= feedback.get('recipient').escape('username') %>
      </small>
    </p>
  </li>
<% }); %>
</ul>