<p class="lead">Unprompted personal attacks. Go you!</p>
<ul class="spotless">
<% sentUnsolicitedFeedbacks.each(function (feedback) { %>
  <li class="well lead">
    <a href="<%= '#/feedbacks/' + feedback.id %>">
      <%= feedback.escape('body') %>
    </a>
    <p>
      sent to <%= feedback.escape('recipient_id') %>
    </p>
  </li>
<% }); %>
</ul>