<input class="tt-query add_team_member user-search" type="text" placeholder="Find your confidante" data-provide: "typeahead" spellcheck="false" dir="auto" name="team[member_ids][]">
<button class="btn btn-danger nevermind">Nevermind</button>