<p class="lead">My Teams</p>
<ul class="spotless">
<% teams.each(function (team) { %>
  <li>
    <a href="#/teams/"+<%= team.id %>><%= team.escape('name') %></a>
  </li>
<% }); %>
</ul>
<a href="#/teams/new" class="add-team btn btn-inverse">Add a team</button>