<div class="new-team-form"
  <label for="team_name">The time has come to name your team</label>
  <input type="text" class="monster mini-monster" id="team_name" name="team[name]" placeholder="Name your team, fearless leader" />
  
  <div class="image-bar slider">
    <ul class="polaroids">
    </ul>
  </div>

  <div class="add_members">
  </div>

  <p>
    <button class="btn btn-add-member">One more (team member)</button>
  </p>

  <button class="btn btn-invite">Invite a friend</button>

  <div class="slider">
    <label for="email_member">Your friend's email address</label>
    <input type="email" class="email" name="email_member"></input>   
  </div>

  <button class="submit btn btn-inverse">Make Team</button>
</div>