<p class="lead">People I trust</p>
<ul>
<% confidantes.each(function (confidante) { %>
  <li>
    <a href="#/users/"+<%= confidante.id %>><%= confidante.escape('username') %></a>
  </li>
<% }); %>
</ul>