<div class="row">
	<div class="span2">
		<div class="row">
			<div id="navigation-pane"></div>
		</div>
		<div class="row">
			<div id="teams-pane"></div>
		</div>
	<div>
	<div id="main-pane" class="span8"></div>
	<div id="requests-pane" class="span2"></div>
</div>