<p class="small">Dish on these:</p>
<ul class="spotless">
<% receivedFeedbackRequests.each(function (receivedFeedbackRequest) { %>
  <li class="well">
    <%= receivedFeedbackRequest.get('requestor').escape('username') %> says
    <a href="<%= '#/feedback_requests/' + receivedFeedbackRequest.id %>">
      <%= receivedFeedbackRequest.escape('body') %>
    </a>
  </li>
<% }); %>
</ul>