<p class="lead">My Own Feedback Requests</p>
<ul>
<% sentFeedbackRequests.each(function (sentFeedbackRequest) { %>
	<li class="well">
		<a href="#/feedback_requests/" + <%= sentFeedbackRequest.id %>>
			<%= sentFeedbackRequest.get('body') %>
		</a>
	</li>
<% }); %>
</ul>