<p class="lead">My Own Feedback Requests</p>
<ul class="spotless">
<% sentFeedbackRequests.each(function (sentFeedbackRequest) { %>
	<li class="well lead">
    <a href="<%= '#/feedback_requests/' + sentFeedbackRequest.id %>">
			<%= sentFeedbackRequest.escape('body') %>
		</a>
	</li>
<% }); %>
</ul>