<p class="lead"><%= feedbackRequest.escape('body') %></p>
<ul class="spotless">
<% receivedFeedbacks.each(function (feedback) { %>
  <li class="well lead">
      <%= feedback.escape('body') %>
    </a>
  </li>
<% }); %>
</ul>