<p class="lead"><%= feedbackRequest.get("body") %></p>
<ul class="spotless">
<% receivedFeedbacks.each(function (feedback) { %>
  <li class="well lead">
      <%= feedback.get('body') %>
    </a>
  </li>
<% }); %>
</ul>