<div class="row">
  <div class="span12">
    <div class="megabox">
      <div class="call-to-action">
        <p class="lead massive">
          Get anonymous feedback from trusted friends and colleagues
        </p>
        <a href="<%= signup_path %>" class="btn big-btn">Sign Up Now!</a>
      </div>
    </div>
  </div>
</div>
<div class="row summaries">
  <div class="span4">
    <header>Personal Relationships</header>
    <article>
      You've started seeing a new boyfriend or girlfriend. Find out what your friends think. Is it a perfect match or are you heading into the danger zone?
    </article>
  </div>
  <div class="span4">
    <header>Business Ventures</header>
     <article>
      You're spearheading a project. You really love it, but you don't know what your colleagues think. Everyone's supportive in person, but you've heard grumblings down the grapevine. Find out if the project is truly productive or if it's just a drain on time and resources.
    </article>

  </div>
  <div class="span4">
    <header>No-Holds-Barred Advice</header>
      <article>
        You've bought a pair of shoes. They're pretty gorgeous, you think, though gaudy. Better check with your trusted fashionistas if these shoes are the cutest things on the block or a travesty.
      </article>
  </div>
</div>