<ul class="nav nav-tabs nav-stacked">
  <li>
  	<a href="#/">My Wall</a>
  </li>
  <li>
    <a href="#/messages">Messages</a>
  </li>
  <li>
  	<a href="#/feedbacks">Feedbacks I've Sent</a>
  </li>
  <li>
  	<a href="#/teams">My Teams</a>
  </li>
  <li>
  	<a href="#/users">People I Trust</a>
  </li>
</ul>