@import 'bootstrap';

body {
  background: url(ps_neutral.png);
}

.container {
  background: white;
  padding: 0 20px;
  padding-top: 180px;
}

.black {
	color: black;
}

ul.spotless {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    postion: relative;
  }
}

.submit {
  float:right;
}

.monster {
  height: 80px;
  width: 100%;
  color: #D62448;
  background: #212626;
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;

  &:hover {
    background: #434E4F;
    color: #F23E7A;
  }
}

.editing {
    font-size: 22px;
    font-weight: regular;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider {
  display:none;
  width: 100%;
  margin-bottom: 40px;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 50px;
}