@import 'bootstrap';


.navbar-inner {
  h1 {
    margin-left: 10px;
  }

  .searchy {
    margin-left: 10px;
  }
}

.log_in_toggle {
  margin-right: 10px;
}

.megabox {
  background: url(megaphone.jpg);
}

.summaries {
  margin-top: 30px;
  margin-bottom: 40px;
  header {
    background: black;
    font-weight: bold;
    text-align: center;
    color: white;
  }
}

.call-to-action {
  margin-left: auto;
  margin-right: auto;
  background: black;
  color: white;
  margin-top: 50px;
  maergin-bottom: 20px;
  padding: 80px;
  border-color: blue;
  border-style: none none ridge none;


  p {
    margin-left: auto;
    margin-right: auto;
  }

  a {
    margin-left: auto;
    margin-right: auto;
  }
}

.big-btn {
  color: #212626;
  background: #D62448;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;

  &:hover {
    background: #F23E7A;
    color: #434E4F;
  }
}

select {
  background: black;
  color: white;
  font-weight: bold;
}

option {
    background: #FCF459;
    color: white;
}

.bold-btn {
  height: 60px;
  background: #F23E0D;
  font-size: 24px;
  font-weight: bold;
  &:hover {
    -webkit-transition: all 0.3s ease-in;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in;  /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in;
    background: #421103;
  }
}

.add-team {
  margin: 20px 10px;
}

.user-search {
  position: relative;
  vertical-align: top;
  background-color: transparent;
}

body {
  background: url(ps_neutral.png);
}

.container {
  background: white;
  padding: 0 20px;
  padding-top: 120px;
}

.black {
	color: black;
}

ul.spotless {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    postion: relative;
  }
}

.submit {
  float:right;
}

.monster {
  height: 80px;
  width: 100%;
  color: #D62448;
  background: #212626;
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;

  &:hover {
    background: #434E4F;
    color: #F23E7A;
  }
}

.editing {
    font-size: 22px;
    font-weight: regular;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider {
  display:none;
  width: 100%;
  margin-bottom: 40px;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 50px;
}

twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}